
/*
COPYRIGHT 2008 - 2010 DO PORTAL PUBLICO INFORMATICA LTDA

Este arquivo e parte do programa E-ISS / SEP-ISS

O E-ISS / SEP-ISS e um software livre; voce pode redistribui-lo e/ou modifica-lo
dentro dos termos da Licenca Publica Geral GNU como publicada pela Fundacao do
Software Livre - FSF; na versao 2 da Licenca

Este sistema e distribuido na esperanca de ser util, mas SEM NENHUMA GARANTIA,
sem uma garantia implicita de ADEQUACAO a qualquer MERCADO ou APLICACAO EM PARTICULAR
Veja a Licenca Publica Geral GNU/GPL em portugues para maiores detalhes

Voce deve ter recebido uma copia da Licenca Publica Geral GNU, sob o titulo LICENCA.txt,
junto com este sistema, se nao, acesse o Portal do Software Publico Brasileiro no endereco
www.softwarepublico.gov.br, ou escreva para a Fundacao do Software Livre Inc., 51 Franklin St,
Fith Floor, Boston, MA 02110-1301, USA
*/
.fundolb{
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	opacity:.80;
}

.conteudolb {
	display: block;
	position: absolute;
	top: 15%;
	left: 22%;
	width: 500px;
	height: 300px;
	padding: 16px;
	border: 1px solid ;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333333;
	background-image: url(../img/fundos/padrao.jpg);
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
}
img {
	border: 0px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333333;
}
a.menu:link, a.menu:visited {
	display: block;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8pt;
	padding: 5px;
	text-align:left;
	text-decoration:none;
	color: #FFFFFF;
	background-image: url(../img/menus/menu_link.jpg);
}

a.menu:hover {
	text-decoration:none;
	background-color: #003366;
	color: #FFFFFF;
	background-image: url(../img/menus/menu_hover.jpg);
}
input.texto 
  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: #333333;
	height: 15px;
	border:solid #999999 1px;
  }

input.email {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: #333333;
	height: 15px;
	border:solid #999999 1px;
	
		
}
input.botao {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	border:solid #666666 1px;
	
}
textarea.texto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: #333333;
	height: 50px;
	border:solid #999999 1px;		
}
.txtbranco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style:normal;
	color: #333333;
	height: 20px;
	border:solid #999999 1px;		
}
fieldset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #333333;
	background-image:url(../img/fieldset_fundo.jpg);
	background-repeat:repeat-x;
	background-color:#CCCCCC;
}
a:link, a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

a:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-decoration: underline;
	color: #666666;
	font-weight: bold;
}
imprimir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}

input#btX{
	border:0;
	widows:26;
	width:29px; 
	cursor:pointer;
	height:25px;
	background: #fff url("../img/botoes/botao_cancelar.jpg");
}

input#btEnviarEmail{
	border:0;
	widows:26;
	width:26px; 
	cursor:pointer;
	height:25px;
	background: #fff url("../img/botoes/botao_enivar_email.png");
}

input#btImp{
	border:0;
	widows:26;
	width:29px; 
	cursor:pointer;
	height:25px;
	background: #fff url("../img/botoes/botao_imprimir.jpg");
}

.divServicosNota{
	display:none;
	clear:both;
	width:90%;
	height:300px;
	border:#999999 solid 1px;
	position:fixed;
	left:5%;
	top:20%;
	background-color:#CCCCCC;
}

