
/*
COPYRIGHT 2008 - 2010 DO PORTAL PUBLICO INFORMATICA LTDA

Este arquivo e parte do programa E-ISS / SEP-ISS

O E-ISS / SEP-ISS e um software livre; voce pode redistribui-lo e/ou modifica-lo
dentro dos termos da Licenca Publica Geral GNU como publicada pela Fundacao do
Software Livre - FSF; na versao 2 da Licenca

Este sistema e distribuido na esperanca de ser util, mas SEM NENHUMA GARANTIA,
sem uma garantia implicita de ADEQUACAO a qualquer MERCADO ou APLICACAO EM PARTICULAR
Veja a Licenca Publica Geral GNU/GPL em portugues para maiores detalhes

Voce deve ter recebido uma copia da Licenca Publica Geral GNU, sob o titulo LICENCA.txt,
junto com este sistema, se nao, acesse o Portal do Software Publico Brasileiro no endereco
www.softwarepublico.gov.br, ou escreva para a Fundacao do Software Livre Inc., 51 Franklin St,
Fith Floor, Boston, MA 02110-1301, USA
*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333333;
	background-image: url(../img/fundos/padrao.jpg);
	margin-top:0px;
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	font-weight: bold;
	color: #FFFFFF;
}
img {
	border: 0px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333333;
}
imprimir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
}
.secretariaTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #FFFFFF;
	font-weight: bold;
}
.paginaTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #003366;
	font-weight: bold;
}
.boxFundo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #333333;
	background-image:url(../img/box/padrao_fundo.jpg)
}
.boxTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
	font-weight: bold;
}
a.box:link, a.box:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-decoration: none;
	color: #333333;
	font-weight: bold;
}

a.box:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
legend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333333;
	background-color: #FFFFFF;
	padding:1px;
}
.fieldsetCab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	font-weight: bold;
}


