*{ font-family: 'Arimo',sans-serif !important;}

input[type="text"],input[type=password],textarea,select{border-radius: 2px 2px 2px 2px;
    cursor: text;
    margin-bottom: 10px;
    margin-left: 5px;
    text-transform: uppercase;
border: 1px solid #BEBEBE;
box-shadow: 0 3px 0 0 #F0F0F0 inset;
padding: 6px 10px;
color: #666666;
    font-size: 13px;
height: 25px; background-color: white;}

textarea{
height: 100%;}
select{height: 32px;}

input.botao{
border:none;
    -moz-transition: all 0.5s ease 0s;
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 5px solid #2C9BB6;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 1px lightGrey;
    color: #444444;
    display: block;
    font-size: 13px;
    padding: 7px ;
 cursor: pointer;
    outline: medium none;
    text-decoration: none;
margin-bottom: 15px;
    margin-right: 20px;
float: left;

}

input.botao:hover {
    background: none repeat scroll 0 0 #2C9BB6;
    color: #FFFFFF;
    text-decoration: none;
}


table, table td {
    border: medium none;
    padding: 5px 0;
border-collapse: inherit;
}

td {
    color: #444;
    font-size: 100%;
    cursor: default;
}


td b{    float: left;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;}

legend strong{
   
    font-weight: normal;
  
}

legend {
    float: left;
    color: #2C9BB6;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px !important;
    text-transform: uppercase;
}

/* Contact form */


#contact-form{position:relative; padding:6px 0 0 0;}
	#contact-form fieldset{border:none;padding:0}
	#contact-form label {display:block;min-height:46px; position:relative;}
		#contact-form input{ width:343px;}
		#contact-form textarea{height:195px;width:515px;overflow:auto;resize:none;}
		#contact-form .message{min-height:220px;}
.buttons{position:relative; overflow:hidden; padding:25px 0 0 0; text-align:right;}
	.buttons span{position:relative; overflow:hidden; margin-left:14px;}
.success, .error, .empty{display:none; text-align:left;}
.error, .empty{position:relative; color:red; font-size:9px; top:0px; left:10px;}
.success{ padding-bottom:10px;}
.success, .success strong{ color:#2C9BB6;}
/* search form */
#search{ padding:4px 0 0 0;}
	#search input{font-family: Arial, Helvetica, sans-serif;color:#a5a4a4;font-size:11px; font-style:italic; vertical-align:middle;font-weight:normal;padding:7px 5px 7px 28px;margin:0;background:#fbfbfc url(../images/input-mail.jpg) 6px 8px no-repeat;outline:none;border:1px solid #e7e7e7;width:163px;}
	#search .button{ padding:3px 18px 5px; }
@media only screen and (min-width: 768px) and (max-width: 995px) {
	#search input{width:90px;}
	#contact-form input{ width:250px;}
	#contact-form textarea{ width:402px;}
	#contact-form{position:relative; padding:6px 0 30px 0;}
}
@media only screen and (max-width: 767px) {
	#search input{width:140px;}
	#contact-form input,#contact-form textarea{ width:273px;}
	#contact-form{position:relative; padding:6px 0 30px 0;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#search input{width:255px;}
	#contact-form input,#contact-form textarea{ width:394px;}
}