
/* ######### Default class for drop down menus ######### */

.anylinkmenu{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
padding: 11px 0;
z-index: 100; 
    background: none repeat scroll 0 0 #FAFAFA;
    color: #444444;
   border: 1px solid #DDDDDD;
   
    text-align: left;
    font: 12px/15px 'Arimo',sans-serif;
  width: 152px;
    text-transform: uppercase;
 box-shadow: 0 0 5px 0 rgba(222, 222, 222, 0.9);}

}

.anylinkmenu ul{
margin: 0;
padding: 0;
/*list-style-type: none;*/
}

.anylinkmenu ul li a{
 border: medium none;
    display: block;
    padding: 7px 0 7px 25px;
    text-decoration: none;
    width: 128px;
/*-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;*/


}

.anylinkmenu a:hover{ /*hover background color*/
 background: none repeat scroll 0 0 #2C9BB6;
    color: #FFFFFF;
}

/* ######### Alternate multi-column class for drop down menus ######### */
.anylinkshadow{display: none;}

.anylinkmenucols{
position: absolute;
width: 350px;
left: 0;
top: 0;
visibility: hidden;
font: normal 12px Verdana;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #d4d0c7;
}

.anylinkmenucols li{
/*padding-bottom: 3px;*/
}

.anylinkmenucols .column{
float: left;
padding: 3px 8px;
margin-right: 5px;
background: #d4d0c7;
}

.anylinkmenucols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}


