/* CSS Document */
ul {
	margin: 0;
	padding: 0;
	list-style: none;	
	width: auto;
}
.sep-logo{display: none;}
ul li {
	position: relative;
	float:left;	
}	
	
li ul {
	position: absolute;
	left: 0px;
	top: 24px;
	display: none;	
}
	
ul li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	
	padding: 5px;
	border: 1px solid #FFFFFF;
	border-bottom: 0;
}

li:hover ul { display: block; }

	


.submenua { 	     
	display: block;	
	   -moz-transition: all 0.5s ease 0s;
    background: none repeat scroll 0 0 #FAFAFA;
    color: #444444;
    padding: 7px 0 7px 25px;
    text-align: left;}


#submenua:hover{
	 background: none repeat scroll 0 0 #2C9BB6;
    color: #FFFFFF;
}

/* Fix IE. Hide from IE Mac \*/

* html ul li { 
	float: left; 
}
* html ul li a { 
	height: 1%;
}
/* End */	

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: auto;	

}

li:hover ul {
	display: block;
	color:#0033CC;
	/*background-color:#0033CC*/
}



}
/*
ul.submenu li sup{
font-weight:bold;
font-size:7px;
color: red;
}*/

.menu-hv {
	position: absolute;
	margin: 0; 
	padding: 0; 	
	/*background-color: #0000FF;*/
	color: #FFFFFF;
	width:99%;
}



	

